<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WIM Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="css/new_user.css">
  </head>
  <body>
    <header class="py-3 mb-4 border-bottom bg-primary">
    <div class="container d-flex flex-wrap justify-content-center">
      <div href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-light text-decoration-none">
        <span class="fs-1">VJTI Event Manager</span>
      </div>
    </div>
  </header>
    <div class="container mr-auto">
      <div class="row">
      <div class="col-md-4">
        <div class="list-group">
  <a href="/" class="list-group-item list-group-item-action">Home</a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">New User</a>
  <a href="login" class="list-group-item list-group-item-action">Login</a>
  <a href="add_event" class="list-group-item list-group-item-action"> Add event</a>
  <a href="update" class="list-group-item list-group-item-action">Update User Info</a>
   <a href="#" class="list-group-item list-group-item-action">FAQ</a>
</div>
      </div>
      <div class="col-md-8">
        <form class="row g-3" name="submit-to-google-sheet">          
          
          <div class="col-md-6">
    <label for="inputName4" class="form-label">Username</label>
    <input type="text" class="form-control" id="inputName4"  placeholder="First Middle Last"  name="Name" required>
  </div>
  
  
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" name="Password" required>
  </div>
  
  
  <div class="col-md-6">
     <label for="gender" class="form-label">Gender</label>
    <div class="col-md-12" id="gender">
      <div class="col-md-5 form-check form-check-inline">
  <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male">
  <label class="form-check-label" for="inlineRadio1">Male</label>
</div>
<div class="col-md-5 form-check form-check-inline">
  <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female">
  <label class="form-check-label" for="inlineRadio2">Female</label>
</div>  
    </div>
  </div>
  
  
  <div class="col-md-4">
    <label for="inputNumber4" class="form-label">Date Of Birth</label>
    <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" onchange="displayAge()" required>
  </div>        
  
  <div class="col-md-2">
    <label for="inputNumber4" class="form-label">Age</label>
    <input type="text" class="form-control" id="age" name="age" disabled>
  </div>
    
  <div class="col-md-8">
    <label for="inputEmail4" class="form-label">VJTI Email ID</label>
    <input type="email" class="form-control" id="inputEmail4" name="Email" required pattern="[a-z]*_b[0-9][0-9]@[a-z][a-z].vjti.ac.in">
  </div>
  
  
  <div class="col-md-5">
    <label for="inputBranch" class="form-label">Branch</label>
    <select id="inputBranch" class="form-select" name="Branch" required>
      <option>CE</option>
      <option>IT</option>
      <option>EE</option>
      <option>EXTC</option>
      <option>TEXTILE</option>
      <option>STRUCTURAL</option>
      <option>PRODUCTION</option>
      <option>MECHANICAL</option>
    </select>
  </div>
  <div class=" col-md-7">
    <label for="semester" class="form-label">Semester</label>
    <div class="row m-1" id="sem">
    <input id="semester" type="range" class="col-sm-7 mb-sm-2" value="1" min="1" max="8" oninput="this.nextElementSibling.value = this.value" name="Semester" required>
    <input type="text" class="offset-sm-1 col-sm-1 col-md-2 col-lg-2" disabled>
    </div>
  </div>
  
  <div class="col-8">
    <button type="submit" class="btn btn-primary" name="submit">Sign in</button>
  </div>
</form>
      </div>
    </div>
        <div class="row mt-5">
          <div class="offset-3 col-6" id="display"></div>
         </div>
      </div>
  <footer class="py-3 bg-primary">
    <ul class="nav justify-content-center border-bottom border-info pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Kartik Shetty</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Hrishikesh Bade</a></li>
    </ul>
    <p class="text-center text-light">© 2022 VJTI, Uni</p>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  <script src="./js/new_user.js"></script>
</body>
</html>